# Archivos y directorios a ignorar

# Archivos de compilación y ejecutables
*.class
*.jar
*.war

# Directorios de dependencias o librerías
/lib/
/target/

# Archivos de configuración local
/config.properties
/application.properties

# Archivos generados automáticamente
*.log
*.log.*

# Archivos de entornos de desarrollo
/.idea/
/.vscode/

# Archivos de caché
/.cache/

# Archivos de respaldo
*~
*.bak

# Archivos de construcción de proyectos específicos
.gradle/
build/
out/
